.footer {
  border-top: $gridline;
  justify-content: space-between;

  @include media-breakpoint-up(lg) {
    align-content: space-between;
    border-left: $gridline;
    border-top: 0;
    left: auto;
    right: 0;
  }

  @include media-breakpoint-up(xl) {
    background-color: transparent;
  }
}

.footer__location {
  background-color: transparent;
  border: 1px solid transparent;
  font-weight: $font-weight-bold;
}

.welcome-label {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
    min-width: 160px;
    text-align: center;
    transform: rotate(90deg);
  }
}

.footer__social-icons {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding: 0;

  @include media-breakpoint-up(lg) {
    display: block;
  }

  li {
    padding-left: 1rem;

    @include media-breakpoint-up(lg) {
      padding: 1rem 0 0;
    }

    a img {
      display: block;
      height: 1rem;
      width: 1rem;
    }
  }
}
