/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Setup/customise initial type variables
$font-family-base: gilroy, $font-family-sans-serif;

$body-color: $black;
$link-color: $body-color;
$link-hover-color: $gray-700;

$font-weight-base: 300;

$header-height: 75px;
